.popup {  
    position: fixed;  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;  
    height: 80%;   
    background-color: rgba(0, 0, 0, 0.808);  
}  
  
.leaderboard {
  background: #FFF;
  text-align: center;
}

.leaderboard ul {
  padding: 0;
  list-style-type: none;
}