.app {
  text-align: center;
  font-family: 'Oxygen Mono', monospace;
}

.app-header {
  margin-top: 10px;
  font-size: 30px;
}

.game {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 10px;
}

.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.character {
  white-space: pre;
}

.character-current {
  background-color: rgb(9, 211, 172, 1);
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    background-color: rgb(9, 211, 172, 0);
  }
}

.character-out {
  color: silver;
}

.typo {
  color: red;
}

.arrow {
  margin-top: 200px;
}

h3 {
  display: inline;
  font-size: 18px;
}